
.droid-sans-mono { font-family: "Droid Sans Mono", Menlo, Courier New, Courier, Mono, monospace; font-size: 0.942em;}
.gandhi-sans-reg { font-family: 'GandhiSansRegular', Arial, sans-serif;}
.gandhi-sans-italic { font-family: 'GandhiSansItalic', Arial, sans-serif;}
.gandhi-sans-bold { font-family: 'GandhiSansBold', Arial, sans-serif;}


@font-face {
font-family: 'Droid Sans Mono';
src: url('fonts/DroidSansMono-webfont.eot');
src: local('☺'), 
     url('fonts/DroidSansMono-webfont.woff') format('woff'), 
     url('fonts/DroidSansMono-webfont.ttf') format('truetype'), 
     url('fonts/DroidSansMono-webfont.svg#webfontX4pGz9fc') format('svg');
font-weight: 400;
font-style: normal;
}

@font-face {
    font-family: 'GandhiSansRegular';
    src: url('fonts/GandhiSans-Regular-webfont.eot');
    src: url('fonts/GandhiSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/GandhiSans-Regular-webfont.woff') format('woff'),
         url('fonts/GandhiSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/GandhiSans-Regular-webfont.svg#GandhiSansRegular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'GandhiSansItalic';
    src: url('fonts/GandhiSans-Italic-webfont.eot');
    src: url('fonts/GandhiSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/GandhiSans-Italic-webfont.woff') format('woff'),
         url('fonts/GandhiSans-Italic-webfont.ttf') format('truetype'),
         url('fonts/GandhiSans-Italic-webfont.svg#GandhiSansItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GandhiSansBold';
    src: url('fonts/GandhiSans-Bold-webfont.eot');
    src: url('fonts/GandhiSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/GandhiSans-Bold-webfont.woff') format('woff'),
         url('fonts/GandhiSans-Bold-webfont.ttf') format('truetype'),
         url('fonts/GandhiSans-Bold-webfont.svg#GandhiSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GandhiSansBoldItalic';
    src: url('fonts/GandhiSans-BoldItalic-webfont.eot');
    src: url('fonts/GandhiSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/GandhiSans-BoldItalic-webfont.woff') format('woff'),
         url('fonts/GandhiSans-BoldItalic-webfont.ttf') format('truetype'),
         url('fonts/GandhiSans-BoldItalic-webfont.svg#GandhiSansBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

