#mtintel-container {
  font-family: Helvetica,Arial,Verdana,Sans-serif !important;  
  position: fixed;
  width: 900px;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: scroll !important;
  min-height : 600px;
  z-index: 2147483647;
  top:0px;
  background-color: #f4f5f6;
  -moz-box-shadow: 0px 0px 10px 1px #000;
  -webkit-box-shadow: 0px 0px 10px 1px #000;
  box-shadow: 0px 0px 10px 1px #000;
}

#mtintel-wrapper p, #mtintel-wrapper h1, #mtintel-wrapper h2, #mtintel-wrapper h3, #mtintel-wrapper h4, #mtintel-wrapper h5, #mtintel-wrapper h6 {
  margin-top: 0 !important;
}

#mtintel-wrapper .navbar {
  width: 900px;
  height: 42px;
  position: absolute !important;
  top: 0px;
  left: 0px;
}

#mtintel-wrapper .navbar .navbar-inner {
  height: 42px;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

#mtintel-wrapper .navbar .navbar-inner .close-button {
  position: absolute;
  font-size: 28px;
  top: 2px;
  right: 20px;
  cursor: pointer;
}

#mtintel-wrapper .heading {
  width: 297px;
  height: 42px;
  position: absolute;
  top: 5px;
  left: 11px;
  color: #fff !important;
}

#mtintel-wrapper .total-numbers {
  width: 400px;
  height: 53px;
  top: 54px;
  left: 265px;
  border: none;
}

.total-numbers td,
.total-numbers th {
  border:none !important;
  text-align: center !important;
}

.total-numbers td {
  font-size: 30px;
}

.data-table {
  background-color: #fff !important;
}

.data-table th {
  color: #fff !important;
  background: #34495E !important;
}

#mtintel-wrapper .table {
  position: absolute !important;
}

#mtintel-wrapper .table.table-1 {
  width: 807px;
  height: 168px;
  top: 150px;
  left: 46px;
}

#mtintel-wrapper .table.table-1 thead tr th.th-1 {
  width: 284px;
}

#mtintel-wrapper .table.table-1 thead tr th.th-2 {
  width: 384px;
}

#mtintel-wrapper .table.table-1 thead tr th.th-3 {
  width: 84px;
}

#mtintel-wrapper .variations-list {
  list-style: none;
}

#mtintel-wrapper .not-a-sucker {
  font-size: 30px;
  top: 200px;
  position: absolute;
  text-align: center;
  left: 250px;
}


/*Bootstrap Styles
*/

#mtintel-wrapper h2 {
  font-size: 22px;
  color: #3d3d3d !important;
}

#mtintel-wrapper .navbar {
  color: #ffffff !important;
  background-color: #2C3E50 !important;
}


#mtintel-wrapper table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}


#mtintel-wrapper .table th,
#mtintel-wrapper .table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

#mtintel-wrapper .table th {
  font-weight: bold;
}

#mtintel-wrapper .table thead th {
  vertical-align: bottom;
}

#mtintel-wrapper .table caption + thead tr:first-child th,
#mtintel-wrapper .table caption + thead tr:first-child td,
#mtintel-wrapper .table colgroup + thead tr:first-child th,
#mtintel-wrapper .table colgroup + thead tr:first-child td,
#mtintel-wrapper .table thead:first-child tr:first-child th,
#mtintel-wrapper .table thead:first-child tr:first-child td {
  border-top: 0;
}

#mtintel-wrapper .table tbody + tbody {
  border-top: 2px solid #dddddd;
}

#mtintel-wrapper .table .table {
  background-color: #ffffff !important;
}

#mtintel-wrapper .table-striped tbody > tr:nth-child(odd) > td,
#mtintel-wrapper .table-striped tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

#mtintel-wrapper .table-bordered {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapse;
  border-left: 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

#mtintel-wrapper .table-bordered th,
#mtintel-wrapper .table-bordered td {
  border-left: 1px solid #dddddd;
}

#mtintel-wrapper .table-bordered caption + thead tr:first-child th,
#mtintel-wrapper .table-bordered caption + tbody tr:first-child th,
#mtintel-wrapper .table-bordered caption + tbody tr:first-child td,
#mtintel-wrapper .table-bordered colgroup + thead tr:first-child th,
#mtintel-wrapper .table-bordered colgroup + tbody tr:first-child th,
#mtintel-wrapper .table-bordered colgroup + tbody tr:first-child td,
#mtintel-wrapper .table-bordered thead:first-child tr:first-child th,
#mtintel-wrapper .table-bordered tbody:first-child tr:first-child th,
#mtintel-wrapper .table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}

#mtintel-wrapper .table-bordered thead:first-child tr:first-child > th:first-child,
#mtintel-wrapper .table-bordered tbody:first-child tr:first-child > td:first-child,
#mtintel-wrapper .table-bordered tbody:first-child tr:first-child > th:first-child {
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

#mtintel-wrapper .table-bordered thead:first-child tr:first-child > th:last-child,
#mtintel-wrapper .table-bordered tbody:first-child tr:first-child > td:last-child,
#mtintel-wrapper .table-bordered tbody:first-child tr:first-child > th:last-child {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}

#mtintel-wrapper .table-bordered thead:last-child tr:last-child > th:first-child,
#mtintel-wrapper .table-bordered tbody:last-child tr:last-child > td:first-child,
#mtintel-wrapper .table-bordered tbody:last-child tr:last-child > th:first-child,
#mtintel-wrapper .table-bordered tfoot:last-child tr:last-child > td:first-child,
#mtintel-wrapper .table-bordered tfoot:last-child tr:last-child > th:first-child {
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
}

#mtintel-wrapper .table-bordered thead:last-child tr:last-child > th:last-child,
#mtintel-wrapper .table-bordered tbody:last-child tr:last-child > td:last-child,
#mtintel-wrapper .table-bordered tbody:last-child tr:last-child > th:last-child,
#mtintel-wrapper .table-bordered tfoot:last-child tr:last-child > td:last-child,
#mtintel-wrapper .table-bordered tfoot:last-child tr:last-child > th:last-child {
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
}

#mtintel-wrapper .table-bordered tfoot + tbody:last-child tr:last-child td:first-child {
  -webkit-border-bottom-left-radius: 0;
          border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
}

#mtintel-wrapper .table-bordered tfoot + tbody:last-child tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 0;
          border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
}

#mtintel-wrapper .table-bordered caption + thead tr:first-child th:first-child,
#mtintel-wrapper .table-bordered caption + tbody tr:first-child td:first-child,
#mtintel-wrapper .table-bordered colgroup + thead tr:first-child th:first-child,
#mtintel-wrapper .table-bordered colgroup + tbody tr:first-child td:first-child {
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

#mtintel-wrapper .table-bordered caption + thead tr:first-child th:last-child,
#mtintel-wrapper .table-bordered caption + tbody tr:first-child td:last-child,
#mtintel-wrapper .table-bordered colgroup + thead tr:first-child th:last-child,
#mtintel-wrapper .table-bordered colgroup + tbody tr:first-child td:last-child {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}
